body{
        background-image: 
            linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 1) 85%), 
            radial-gradient(ellipse at top left, rgba(0, 123, 255, 0.5), transparent 50%), 
            radial-gradient(ellipse at top right, rgba(255, 193, 7, 0.257), transparent 50%), 
            radial-gradient(ellipse at center left, rgba(220, 53, 69, 0.5), transparent 50%),
            radial-gradient(ellipse at center right, rgba(220, 53, 69, 0.5), transparent 50%);
            background-repeat: no-repeat;
            background-size: cover;
            height: 50vw;
            width: 100%;
    }
    .navbar-brand img {
        width: 60px;
    }
    h1 {
        font-size: 2.5rem; 
    }
    .lead {
        font-size: 1.25rem; 
    }
    .btn {
        font-size: 1.1rem; 
        padding: 0.75rem 1.5rem; 
    }
    .alert {
        font-size: 1.1rem; 
        margin-top: 1.5rem; 
    }
    .search-bar input {
        padding: 0.75rem 1.5rem; 
        font-size: 1.1rem;
    }
    .search-icon {
        font-size: 1.25rem; 
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh; 
        text-align: center;
    }
    #big{
        width: 280px;
    }
    #yellow-button{
        margin-top: 250px;
    }